<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/asssets/css/styleMentors.css">
</head>

<body>
    <div class="content-wrapper">
        <h1 class="mentors-header">Conoce nuestros mentores</h1>
            <p class="mentors-description">
                Nuestros mentores son expertos en sus respectivos campos, con años de experiencia en la industria y una pasión genuina por ayudar a los demás a alcanzar sus objetivos. Ya sea que estés buscando orientación en tecnología, desarrollo personal o cualquier otra área, nuestros mentores están aquí para ofrecerte el conocimiento, la orientación y las herramientas que necesitas para prosperar. Descubre sus perfiles, conecta con ellos y comienza tu viaje hacia el éxito.
            </p>

        <div class="profiles-container">

            <div class="profile">
                <header class="profile__header">
                    <div class="profile__highlight__wrapper">
                        <div class="profile__highlight">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                            </svg>
                            160
                        </div>
                        Estudiantes
                    </div>
                    <div class="profile__avatar">
                        <img src="/asssets/images/mentor1.jpg" loading="lazy" alt="Mentor profile">
                    </div>
                    <div class="profile__highlight__wrapper">
                        <div class="profile__highlight">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 2a10 10 0 1 0 0 20a10 10 0 0 0 0 -20" />
                                <path d="M12 6v6l4 2" />
                            </svg>
                            149
                        </div>
                        Horas en Sitio
                    </div>
                </header>
                <div class="profile__name">
                    <h2>Melissa Chang<img src="/asssets/images/verified.svg" alt="Verified Ticker"></h2>
                    <p>Desarrolladora Frontend/Fullstack</p>
                </div>
                <ul class="social-links">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M8 11l0 5" />
                                <path d="M8 8l0 .01" />
                                <path d="M12 16l0 -5" />
                                <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                                <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                <path d="M16.5 7.5l0 .01" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
                                <path d="M10 9l5 3l-5 3z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 15l6 -6" />
                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <main>
                    <div class="tabs-wrapper">
                        <ul class="tabs">
                            <li class="active">
                                <a id="tab1" href="#about">Sobre mi</a>
                            </li>
                            <li>
                                <a id="tab2" href="#skills">Habilidades</a>
                            </li>
                            <li>
                                <a id="tab3" href="#reviews">Reseñas</a>
                            </li>
                            <li id="active-bg"></li>
                        </ul>
                    </div>
                    <div id="tab1-content" class="tab-content tab-content--active">
                        <p>
                            Soy una desarrolladora full-stack con 10 años de experiencia en Google. Durante los últimos 5 años,
                            he estado publicando contenido educativo en mi blog y canal de YouTube. tengo pasión por lo moderno
                            Tecnologías web y me encanta compartir mis conocimientos con otros.
                        </p>
                        <h3>Puedo asesorarte &#128588;
                        </h3>
                        <ul class="content-links">
                            <li><a href="#">Hoja de ruta profesional y consejos</a></li>
                            <li><a href="#">Preparación de la entrevista</a></li>
                            <li><a href="#">Desarrollo web</a></li>
                        </ul>
                    </div>
                    <div id="tab2-content" class="tab-content">
                        <p>
                            Mi contenido está enfocado en las últimas tecnologías y herramientas de desarrollo web. Aquí está la descripción general
                            👨‍💻
                        </p>
                        <ul class="content-links">
                            <li>
                                <a href="#">
                                    HTML, CSS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    JavaScript
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    React y Next.js
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Node.js (REST, GraphQL)
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab3-content" class="tab-content">
                        <p>
                            Aquí algunas de las reseñas de mis alumnos 📚
                        </p>
                        <ul class="reviews">
                            <li>
                                <article class="review">
                                    <div class="review__content">
                                        <h4>Leandro Martínez</h4>
                                        <p>
                                            Melissa es una gran mentora. Ella me ayudó a prepararme para la entrevista y
                                            me proporcionó comentarios valiosos sobre mis proyectos. La recomendaría mucho
                                            a cualquiera que esté buscando un mentor.
                                        </p>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="review">
                                    <div class="review__content">
                                        <h4>Andrea Guevara</h4>
                                        <p>
                                            Melissa es increíble explicando temas complejos de una manera sencilla. Tengo
                                            Aprendí mucho de ella y la recomendaría a cualquiera que esté buscando un
                                            mentor.
                                        </p>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </main>
                <button class="btn btn--primary">
                    Iniciar Mentoría
                </button>
            </div>

            <div class="profile">
                <header class="profile__header">
                    <div class="profile__highlight__wrapper">
                        <div class="profile__highlight">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                            </svg>
                            581
                        </div>
                        Estudiantes
                    </div>
                    <div class="profile__avatar">
                        <img src="/asssets/images/mentor2.jpg" loading="lazy" alt="Mentor profile">
                    </div>
                    <div class="profile__highlight__wrapper">
                        <div class="profile__highlight">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 2a10 10 0 1 0 0 20a10 10 0 0 0 0 -20" />
                                <path d="M12 6v6l4 2" />
                            </svg>
                            200
                        </div>
                        Horas en Sitio
                    </div>
                </header>
                <div class="profile__name">
                    <h2>Roderick Castro<img src="/asssets/images/verified.svg" alt="Verified Ticker"></h2>
                    <p>Consultor de negocios</p>
                </div>
                <ul class="social-links">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M8 11l0 5" />
                                <path d="M8 8l0 .01" />
                                <path d="M12 16l0 -5" />
                                <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                                <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                <path d="M16.5 7.5l0 .01" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 15l6 -6" />
                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <main>
                    <div class="tabs-wrapper">
                        <ul class="tabs">
                            <li class="active">
                                <a id="tab1" href="#about">Sobre mi</a>
                            </li>
                            <li>
                                <a id="tab2" href="#skills">Habilidades</a>
                            </li>
                            <li>
                                <a id="tab3" href="#reviews">Reseñas</a>
                            </li>
                            <li id="active-bg"></li>
                        </ul>
                    </div>
                    <div id="tab1-content" class="tab-content tab-content--active">
                        <p>
                            Soy Roderick Castro, consultor de negocios con más de 12 años 
                            de experiencia en optimización de procesos, desarrollo de estrategias 
                            y mejora del rendimiento empresarial. Mi enfoque es ayudar a las organizaciones a alcanzar su máximo potencial.
                        </p>
                        <h3>Puedo asesorarte &#128588;
                        </h3>
                        <ul class="content-links">
                            <li><a href="#">Mejorar la eficiencia operativa</a></li>
                            <li><a href="#">Desarrollar planes de negocio efectivos</a></li>
                            <li><a href="#">Implementar estrategias de marketing</a></li>
                            <li><a href="#">Realizar análisis de mercado</a></li>
                        </ul>
                    </div>
                    <div id="tab2-content" class="tab-content">
                        <p>
                            Mis servicios se centran en ofrecer soluciones personalizadas para 
                            cada cliente. Aquí hay un resumen de lo que ofrezco:
                        </p>
                        <ul class="content-links">
                            <li>
                                <a href="#">
                                    Consultoría en estrategia empresarial
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Gestión de proyectos
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Desarrollo organizacional
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Capacitación y formación de equipos
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab3-content" class="tab-content">
                        <p>
                            Lo que dicen sobre mi 📚
                        </p>
                        <ul class="reviews">
                            <li>
                                <article class="review">
                                    <div class="review__content">
                                        <h4>Laura Hidalgo</h4>
                                        <p>
                                            Roderick transformó nuestra forma de trabajar, 
                                            logrando mejoras significativas en la productividad 
                                            de nuestro equipo.
                                        </p>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="review">
                                    <div class="review__content">
                                        <h4>Carlos López</h4>
                                        <p>
                                            Gracias a sus consejos estratégicos, mi persona
                                            ha visto un crecimiento notable en el último año.
                                        </p>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </main>
                <button class="btn btn--primary">
                    Iniciar Mentoría
                </button>
            </div>

            <div class="profile">
                <header class="profile__header">
                    <div class="profile__highlight__wrapper">
                        <div class="profile__highlight">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                            </svg>
                            350
                        </div>
                        Estudiantes
                    </div>
                    <div class="profile__avatar">
                        <img src="/asssets/images/mentor3.jpg" loading="lazy" alt="Mentor profile">
                    </div>
                    <div class="profile__highlight__wrapper">
                        <div class="profile__highlight">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 2a10 10 0 1 0 0 20a10 10 0 0 0 0 -20" />
                                <path d="M12 6v6l4 2" />
                            </svg>
                            547
                        </div>
                        Horas en Sitio
                    </div>
                </header>
                <div class="profile__name">
                    <h2>Nicole Brands<img src="/asssets/images/verified.svg" alt="Verified Ticker"></h2>
                    <p>Experto en desarrollo personal</p>
                </div>
                <ul class="social-links">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M8 11l0 5" />
                                <path d="M8 8l0 .01" />
                                <path d="M12 16l0 -5" />
                                <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                <path d="M16.5 7.5l0 .01" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
                                <path d="M10 9l5 3l-5 3z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 15l6 -6" />
                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <main>
                    <div class="tabs-wrapper">
                        <ul class="tabs">
                            <li class="active">
                                <a id="tab1" href="#about">Sobre mi</a>
                            </li>
                            <li>
                                <a id="tab2" href="#skills">Habilidades</a>
                            </li>
                            <li>
                                <a id="tab3" href="#reviews">Reseñas</a>
                            </li>
                            <li id="active-bg"></li>
                        </ul>
                    </div>
                    <div id="tab1-content" class="tab-content tab-content--active">
                        <p>
                            Soy Nicole Brands, experta en desarrollo personal con más 
                            de 8 años de experiencia en ayudar a personas a alcanzar su 
                            máximo potencial. Me apasiona guiar a otros en su viaje de 
                            autodescubrimiento y crecimiento.
                        </p>
                        <h3>Puedo asesorarte &#128588;
                        </h3>
                        <ul class="content-links">
                            <li><a href="#">Definir objetivos personales</a></li>
                            <li><a href="#">Mejorar la confianza y autoestima</a></li>
                            <li><a href="#">Manejar el estrés y la ansiedad</a></li>
                            <li><a href="#">Desarrollar habilidades de comunicación</a></li>
                        </ul>
                    </div>
                    <div id="tab2-content" class="tab-content">
                        <p>
                            Mis sesiones se enfocan en técnicas prácticas y efectivas para 
                            el desarrollo personal. Aquí tienes una visión general de las áreas 
                            en las que puedo ayudarte:
                        </p>
                        <ul class="content-links">
                            <li>
                                <a href="#">
                                    Coaching individual y grupal
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Mindfulness y meditación
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Técnicas de resolución de conflictos
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Desarrollo de inteligencia emocional
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab3-content" class="tab-content">
                        <p>
                            Aquí algunas de las reseñas de mis alumnos 📚
                        </p>
                        <ul class="reviews">
                            <li>
                                <article class="review">
                                    <div class="review__content">
                                        <h4>Dereck Bonilla</h4>
                                        <p>
                                            Nicole me ayudó a redescubrir mi propósito y a establecer 
                                            metas claras en mi vida. Su enfoque práctico y empático hizo 
                                            una gran diferencia.
                                        </p>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="review">
                                    <div class="review__content">
                                        <h4>María García</h4>
                                        <p>
                                            Gracias a sus sesiones, ahora me siento más seguro y capaz de enfrentar mis retos diarios.
                                        </p>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </main>
                <button class="btn btn--primary">
                    Iniciar Mentoría
                </button>
            </div>
        </div>
    </div>

    <script src="/asssets/js/mentors.js"></script>
</body>

</html>