* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Work Sans', sans-serif;
    background-color: #C7D2DC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    border-radius: 1rem;
    background-color: #FCFCFD;
    color: #424662;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .student-info,
  .orientation-info {
    flex: 1 1 45%;
    padding: 20px;
    border-radius: 8px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    color: #424662;
    background-color: #F1F3FF;
    transition: border-color 0.3s;
  }

  input:focus,
    select:focus,
    textarea:focus {
        border-color: #605DFF;
        outline: none;
    }
  
  textarea {
    resize: vertical;
  }
  
  @media (max-width: 768px) {
    .student-info,
    .orientation-info {
      flex: 1 1 100%;
    }
  }
  