body {
  font-family: 'Manrope', sans-serif;
  flex-direction: column;
  height: 100vh;
}

.home-container {
  max-width: auto; /* Establece un ancho máximo adecuado */
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #605DFF;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap;
}

.feature-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 30%; /* Ajusta el tamaño de las cajas */
  min-width: 280px; /* Ancho mínimo para cada caja */
  transition: transform 0.3s;
}

.feature-box:hover {
  transform: scale(1.05);
}

.cta-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #45a049;
}

.intro-section {
  margin: 40px 0;
  padding: 20px;
  background: #e3f2fd; /* Color de fondo más suave */
  border-radius: 8px;
}

.intro-section h3 {
  margin-bottom: 10px;
}

.intro-section p {
  font-size: 1em;
  line-height: 1.6;
}

.team-section {
  text-align: center; /* Centra el texto del título */
  margin-top: 40px; /* Espacio superior para separar del contenido anterior */
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea el contenido dentro del equipo en el centro */
  margin: 20px; /* Espacio entre los mentores */
  text-align: center; /* Alinea el texto de cada mentor al centro */
}

.mentor-special {
  margin-top: 10px; /* Espacio superior adicional para separar de los mentores anteriores */
}

.team-members {
  display: flex; /* Usar flexbox para alinear los mentores */
  justify-content: center; /* Centra todos los miembros en la línea */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
  margin-top: 20px; /* Espacio entre el título y los miembros */
}

.mentor-icon {
  margin-bottom: 10px; /* Espacio entre el icono y el texto */
}
