.recommendations-section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendations-container {
  display: grid;
/*   grid-template-columns: 1fr 1fr; Dos columnas para las cards */
  gap: 2rem; /* Espacio entre las cards */
  max-width: 1200px;
  width: 100%;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.75rem;
  color: #4A90E2;
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1rem;
}

.card-section {
  margin-bottom: 1.5rem;
}

.section-subtitle {
  font-size: 1.25rem;
  color: #4A90E2;
  margin-bottom: 1rem;
}

.student-info p, .recommendations-content ul, .mentor-comment p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.university-list li,
.job-list li {
  padding: 0.5rem;
  background-color: #f1f1f1;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.university-list li:hover,
.job-list li:hover {
  background-color: #e0e0e0;
}

.mentor-comment {
  background-color: #eef2f7;
  border-left: 4px solid #4A516D;
  padding: 1.5rem;
  border-radius: 5px;
}

.mentor-comment p {
  margin-bottom: 0.5rem;
}

.mentor-comment strong {
  display: block;
  margin-top: 1rem;
  color: #4A516D;
}

@media screen and (max-width: 900px) {
  .recommendations-container {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
  }
}

.no-recommendations-card {
  background-color: #f9f9f9; /* Color de fondo suave */
  border: 1px solid #e0e0e0; /* Borde suave */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 2rem; /* Espacio interno */
  margin-bottom: 1rem; /* Espacio debajo de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más intensa */
  text-align: center; /* Centramos el texto */
}

.card-icon {
  margin-bottom: 1rem; /* Espacio debajo del icono */
  color: #ff9800; /* Color del icono */
}

.card-title {
  font-size: 1.5rem; /* Tamaño de fuente del título */
  margin-bottom: 0.5rem; /* Espacio debajo del título */
  font-weight: bold; /* Negrita para destacar el título */
}

.card p {
  font-size: 1rem; /* Tamaño de fuente del texto */
  margin-bottom: 0.5rem; /* Espacio debajo de cada párrafo */
  color: #555; /* Color del texto */
}